---
---

/* =======
   Styles
   ======= */


/* Breakpoints:
 - mobile (min-device-width : 320px) and (max-device-width : 480px)
 - tablets (min-device-width : 768px) and (max-device-width : 1024px)
http://1stwebdesigner.com/responsive-design-breakpoints/
 - https://responsivedesign.is/develop/browser-feature-support/media-queries-for-common-device-breakpoints
https://cloudfour.com/thinks/the-ems-have-it-proportional-media-queries-ftw/
http://bradfrost.com/demo/ish/
*/


@import '_base';




// Config
$portraitSize: 150px;
$portraitBorderSize: 6px;

$logotypeWidth: 40px;

$oceanBlue: #184b81;
$oceanGreen: #18814f;
$nearWhite: rgb(255, 255, 255);
$nearBlack: rgba(0, 0, 0, .80);

$mainBackgroundTopOffset: 65%;

$mainBackgroundTopOffsetPx: $mainBackgroundTopOffset/100%*($portraitSize+$portraitBorderSize*2);

$primaryColor: {{ site.colors.primary }};
$accentColor: {{ site.colors.accent }};


@import 'animation';

/* Flexbox test */

html {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

body {
  background-color: $nearWhite;
  color: $nearBlack;
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

// Centering flexible content
body::before, body::after{
  content: '';
  flex: 1 0 auto;
}

body::before {
  background-color: $nearWhite;
  min-height: 1.4rem;
  flex-grow: 2;
}

main {
  color: $nearWhite;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $primaryColor;
  text-align: center;
}

body::after {
  background-color: $primaryColor;
  flex-grow: 3;
}


/* Mobile-first */

/* Default link styling */

a {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.15);
  margin: 0rem;
  padding: 0.4rem 0.4rem;
  border-radius: 0.5rem;
}

a:link {
  color: $nearWhite;
}
a:visited {
  color: $nearWhite;
}
a:hover, a:focus {
  color: $nearWhite;
  background-color: rgba($accentColor, 1);
}
a:active {
  color: $nearWhite;
  box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.15);
}


// List links should have more space...
ul {
  line-height: 200%;
}

h1 {
  font-size: x-large;
  margin: 0;
  background-color: $nearWhite;
  color: $nearBlack;
  font-weight: 300;
  padding-bottom: 1.5rem;

  strong {
    display: block;
    font-size: xx-large;
    padding-top: 1rem;
  }
}

.portrait {
  position: relative;
  background: linear-gradient($nearWhite $mainBackgroundTopOffset, $primaryColor 0%)
}


.portrait img {
  width: $portraitSize;
  height: $portraitSize;
  border: 6px solid $nearWhite;
  border-radius: 50%;
  background-color: $nearWhite;
}


.portrait p {
  margin: 0;
  padding: 0;
}


p {
  font-size: 1.2rem;
  line-height: 2;
  margin: 0 0 1rem 0;
  padding: 0 1rem;
}

.logotype {
  width: $logotypeWidth;
}

footer {
  margin-top: 2.0rem;
}


footer p {
  font-size: smaller;
  //color: rgba(white, 0.7);
}



@media all and (min-width: 50rem) {
  $headingFontSize: 48px;
  $headingBaseline: 30px;

  $sectionWidth: 700px;
  $portraitMargin: 30px;

  $headingLineHeight: $mainBackgroundTopOffsetPx*2 - $headingFontSize - $headingBaseline;



  main {
    display: flex;
    justify-content: center;
    background: linear-gradient($nearWhite $mainBackgroundTopOffsetPx, $primaryColor 0%);
    text-align: left;
  }

  body::before, body::after {
    flex-grow: 1;
  }

  section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    position: relative;
    left: $portraitSize/2;
  }

  .portrait {
    order: -1;
    height: 100%;
    background: transparent;
    margin: 0 20px;
  }

  h1 {
    background: transparent;
    height: $mainBackgroundTopOffsetPx;
    font-size: $headingFontSize;
    display: flex;
    align-items: flex-end;

    line-height:  1.7;
    padding-bottom: 1rem;

    strong {
      display: inline;
      font-size: inherit;
      font-weight: bolder;
      order: -1;
      margin: 0 0.6rem 0 0;
      padding: 0;
    }
  }

  section > p {
    padding: 0;
  }

  footer p {
    padding: 0;
  }

}



/* =======
    Print
   ======= */
@media print {
  * {
      color:#000 !important;
      box-shadow:none !important;
      text-shadow:none !important;
      background:transparent !important;
  }
  html { background-color:#fff; }
  /* Hide navigation */
  nav { display:none; }
  
  /* Show link destinations in brackets after the link text */
  a[href]:after { content: " (" attr(href) ") "; }
  a[href] {
      font-weight:bold;
      text-decoration:none;
      color:#06c;
      border:none;
      margin: 0;
      padding: 0;
  }
  /* Don't show link destinations for JavaScript or internal links */ 
  a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
  
  /* Show abbr title value in brackets after the text */
  abbr[title]:after { content: " (" attr(title) ")"; }
  
  figure { 
      margin-bottom:1rem;
      overflow:hidden;
  }
  
  figure img { border:1px solid #000; }

  img.logotype {
    filter: brightness(0);
  }
}
