---
layout: compress
font: Josefin Sans
weights: [300, 400]
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
{% seo %}
<!-- Icons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" >
<meta name="theme-color" content="{{ site.data.colors.primary }}">
<!-- Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<!-- Styles -->
<link href="https://fonts.googleapis.com/css?family={{ layout.font | uri_escape }}:{{ layout.weights | join: ','}}" rel="stylesheet">
<link href="/css/default.css" media="all" rel="stylesheet">
<style>
  html { font-family: '{{layout.font}}', Tahoma, sans-serif; }
</style>
<!--[if lt IE 9]><script src="js/html5shiv-printshiv.js" media="all"></script><![endif]-->
</head>
<body>
<main>
<section>
{{ content }}
{% include browser-upgrade.html %}
<footer>
{% capture footer %}{% include footer.md %}{% endcapture %}
{{ footer | markdownify }}
</footer>
</section>
</main>
<!-- Scripts -->
{% include google-tag-manager.html %}
<script>
function egg(){a.src="/images/manlike.png"}var a=document.getElementsByTagName("img")[0],n=0,d="Android";a.ondragover=function(a){a.preventDefault()},a.ondrop=function(a){a.preventDefault(),a.dataTransfer.getData("text").trim()==d&&egg()},a.onclick=function(){window.getSelection().toString().trim()==d&&n++,n>6&&egg()};
</script>
</body>
</html>
